<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grab Avatar</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <h1>Uncanny 128x128 Generation</h1>
    <div class="generator_panel">
        <button class = 'button' id="fetchImage">Fetch Avatar</button>
        <img id="avatarImage" src="" alt="Avatar will be displayed here" style="display: none;"/>
    </div>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <script>
        document.getElementById('fetchImage').addEventListener('click', function() {
            fetch('http://192.168.1.97:5000/generate-image', {
            })
                .then(response => response.blob())
                .then(blob => {
                    console.log(blob);
                    const imageUrl = URL.createObjectURL(blob);
                    document.getElementById('avatarImage').src = imageUrl;
                    document.getElementById('avatarImage').style.display = 'block';
                })
                .catch(error => console.error('Error fetching image:', error));
        });
    </script>
</body>
</html>